:root {
    --background: #161f27;
    --background-body: #202b38;
    --background-alt: #1a242f;
    --text-main: #dbdbdb;
    --text-bright: #ffffff;
    --text-muted: #717880;
    --animation-duration: 0.1s;
    --button-hover: #324759;
    --links: #41adff;
}

html {
    background: var(--background);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 1% auto;
    color: var(--text-main);
    background: var(--background-body);
    padding: .5% 1%;
    max-width: 50%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .75), 0 6px 20px 0 rgba(0, 0, 0, 0.049);
}

h1 {
    font-size: 2.2em;
    margin: 0 auto;
    max-width: max-content;
    color: var(--text-bright);
    font-weight: 600;
}

.header {
    background: var(--background-alt);
    margin: 10px -2%;
    padding: 1px 5px 6px;
    color: var(--text-bright);
    font-weight: 600;
    font-size: 120%;
}

.header > * {
    display: inline-flex;
    vertical-align: middle;
}

h3 {
    margin: 0;
}

button {
    border: none;
    height: 25.2px;
    width: 38px;
    background: var(--background);
    color: var(--text-main);
    margin-left: 10px;
    margin-top: 3px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    line-height: 1.2rem;
    cursor: pointer;
}

button:hover {
    background: var(--background-body);
}

button:active {
    background: var(--background-body);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .6);
}

#output {
    background-color: var(--background);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    color: var(--text-main);
    margin: .6em auto;
    margin-bottom: 2em;
    padding: 8px;
    width: 90%;
    overflow: auto;
}

#src { 
    text-align: right;
    font-size: 80%;
    font-style: italic;
    color: var(--text-muted);
}

a {
    text-decoration: none;
    color: var(--links);
}

a:hover {
    text-decoration: underline;
}

.waiting:after {
    --anim: ellipsis steps(2,end) 1600ms infinite;
    
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: var(--anim);
    animation: var(--anim);
    content: ".";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 20px;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;    
    }
}

blockquote {
    background: var(--background-alt);
    border-left: 10px solid var(--button-hover);
    margin: 1em 10px;
    margin-right: -.25em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
}

blockquote > ol {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 30px;
}

blockquote > ol > li {
    padding-left: 3px;
}

blockquote > p {
    padding-left: 30px;
    padding-right: 5px;
}

#input {
    margin: 1em auto;
    max-width: max-content;
}

input {
    margin-right: 1em;
    text-transform: uppercase;
}

.center {
    display: table;
    margin: 0 auto;
}

.topic {
    background: var(--background-alt);
    margin: 10px -2.1%;
    margin-left: -3%;
    padding: 1px 5px 6px;
    color: var(--text-bright);
    font-weight: 600;
    font-size: 110%;
}

#text {
    padding: 0;
    margin: 0;
    
    background: var(--background);
    
    font: inherit;
    
    color: transparent;
    text-shadow: 0 0 0 var(--text-main);
    
    border: none;
    border-right: 4px solid var(--text-main);
}

#text:focus {
    outline: none;
    
    --anim: cursor steps(2, end) 1600ms infinite;
    
    animation: var(--anim);
}

@keyframes cursor {
    to {
        border: none;
    }
}

#hide {
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
    text-transform: uppercase;
}